body, html {
    margin-left: 0;
    margin-right: 0;
    padding-left: 0;
    padding-right: 0;
}

.home {
    background-color: rgb(112, 230, 145);
    overflow-x: hidden;
    overflow-y: scroll;
}

.projects {
    overflow-x: hidden;
}

@font-face {
    font-family: 'boba_milkyregular';
    src: url('fonts/Boba\ Milky/boba_milky-webfont.woff2') format('woff2'),
         url('fonts/Boba\ Milky/boba_milky-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

.navbar-home {
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;

    display: flex;
    z-index: 2;
    position: absolute;
    
    margin-top: -.5em;
    margin-left: -.5em;
    
    width: 100%;
    height: 6em;

    align-items: center;
    justify-content: right;
}

.navbar-projects {
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;

    display: flex;
    z-index: 2;
    position: absolute;
    
    margin-top: -.5em;
    margin-left: -.5em;
    
    width: 100%;
    height: 6em;

    align-items: center;
    justify-content: right;

    background-color: rgb(112, 230, 145);
}

.navbar-filler {
    margin-top: .5em;
    margin-left: .5em;
    
    width: 100%;
    height: 6em;
}

.center {
    display: flex;
    justify-content: center;
}

.hidden {
    display: none;
}

.redirect {
    display:flex;
    justify-content: center;
    align-items: center;

    width: 5em;
    height: 100%;

    font-family: 'boba_milkyregular';
    font-size: 2.2em;

    color: white;
    text-shadow: -.0625em 0 rgb(56, 116, 73), 0 .0625em rgb(56, 116, 73), .0625em 0 rgb(56, 116, 73), 0 -.0625em rgb(56, 116, 73);
}

.redirect:hover {
    text-decoration: underline;
    text-decoration-style: dotted;
    text-decoration-thickness: .175em;
}
.selected {
    text-decoration: underline;
    text-decoration-style: solid;
    text-decoration-thickness: .175em;
}

.name {
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;

    position: absolute;
    z-index: 1;

    color: white;
    font-family: 'boba_milkyregular';
    font-size: 10em;

    margin-top: 32.5vh;
    margin-left: 6vw;

    text-shadow: -.022em 0 rgb(56, 116, 73), 0 .022em rgb(56, 116, 73), .022em 0 rgb(56, 116, 73), 0 -.022em rgb(56, 116, 73);
    
}

.Largo {
    text-align: right;
    margin-top: -.2em
}

.aboutme {
    display:inline-block;
    z-index: 1;
    margin-top: 70.25em;

    background-color: white;
    width: 100vw;
    height: 61em;
    position: absolute;
}

.amcontent {
    display: flex;
    padding: 7.75%;
    height: 67.34%;

    font-size: 1.75em;
    font-family: "Tahoma";
    color: black;
}

.amtext-emphasis {
    /* font-family: "boba_milkyregular"; */
    text-shadow: -.025em 0 rgb(27, 62, 37), 0 .025em rgb(27, 62, 37), .025em 0 rgb(27, 62, 37), 0 -.025em rgb(27, 62, 37); 
    color: rgb(56, 116, 73);
}

.photo {
    box-shadow: .75em -.75em rgb(56, 116, 73);
    border-radius: .25em;
}

.cookie-strips {
    position: absolute;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;

    transform: rotate(10deg);
    margin-top: -17em;
    margin-left: -10em;
}

.cookie-strip {
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
    
    height: 8em;
    margin-bottom: 5em;
}

.slideleft {
    animation: 3s linear 0s infinite reverse slide;
}

.slideright {
    animation: 3s linear 0s infinite slide;
}

@keyframes slide {
    from{
        transform:translateX(-12em);
    }
    to {
        transform:translateX(0em);
    }
}

.grid {
    display: grid;
    grid-template-columns: 1fr;
    width: 52.5%;
    margin-top: 5em;
}

.grid-entry {
    padding-top: 5em;
    padding-bottom: 5em;
}

.entry-title {
    font-family: 'boba_milkyregular';
    color: rgb(56, 116, 73);
    display: block;
    margin: auto;
    text-align: center;
    margin-bottom: .5em;
}

.entry-img {
    display: block;
    margin: auto;
}

.entry-desc {
    font-family: Verdana;
    color: rgb(56, 116, 73);
    display: block;
    margin: auto;
    margin-top: 2em;
    margin-bottom: 2em;
}

.proj-button {
    font-family: 'boba_milkyregular';
    color: white;
    background-color: rgb(56, 116, 73);

    font-size: 1.5em;
    width: 6em;
    height: 2.25em;

    margin-left: 2em;
    margin-right: 2em;
}

.proj-button:hover {
    background-color: rgb(41, 93, 72);
}
